<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
    </startup>
  <appSettings>
    <add key="ida:Tenant" value="bmsallatiidscanco.onmicrosoft.com" />
    <add key="ida:ClientId" value="5531b578-84e7-498b-837c-dd4379f81613" />
    <add key="ida:AppKey" value="mDbk8O8jGf1pXiGT7/hxUirisyOqNDhrHdH0XxxU0lU=" />
    <add key="ida:ResourceId" value="http://bmsallatiidscanco.onmicrosoft.com/ThreeTestAdal2" />
    <add key="ida:AADInstance" value="https://login.microsoftonline.com/{0}" />
    <add key="ida:BaseAddress" value="https://idscan.org.uk/TestObtainCredentials" />
  </appSettings>
</configuration>