<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <!-- remove any machine-wide sources with <clear/> -->
    <!--<clear />-->
    
    <!-- add a Team Services feed -->
    <add key="GBG" value="https://samplesservice.corp.idscan.com/NugetGallery/api/v2/" />
    
    <add key="GBG DEV" value="\\onboarding-app1\DevNugetRepository" />
    <!-- also get packages from the NuGet Gallery -->
    <add key="nuget.org" value="https://www.nuget.org/api/v2/" />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    

  </packageSources>
  <activePackageSource>
    <add key="All" value="(Aggregate source)" />
  </activePackageSource>
</configuration>